{
	"presets": [
		["env", {
			"targets": {
				"node": true
			}
		}]
	],
	"plugins": [
		"transform-object-rest-spread",
		"transform-decorators-legacy",
		"transform-promise-to-bluebird",
		"transform-class-properties",
		"transform-runtime"
	]
}
